@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.hero-sekcija{
    text-align: center;
    background-image: url("/assets/images/FormulaPozadina.jpg");
    background-size: cover;
    height: 700px;
    border-bottom: #ff0000 1px solid;
}

.hero-sekcija ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    gap: 45px;
    padding: 15px 0;
}

.hero-sekcija ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    animation: 2s fadeAnimacija;
}

.hero-sekcija ul li{
    transition: 0.5s;
    text-underline-offset: 5px;
}

.hero-sekcija ul li:hover{
    text-decoration: underline;
    text-decoration-color: #fff;
}

.logo-header{
    width: 200px;
}

.hero-sekcija h1, .hero-sekcija h2{
    color: #fff;
    animation: 1.5s fadeAnimacija ;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
}

.hero-sekcija h1{
    font-size: 55px;
}

.hero-sekcija h2{
    font-size: 25px;
    font-weight: 500;
}

.hero-naslovi{
    margin-top: 80px;
}

.hero-dugmici{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    gap: 35px;
    animation: 1.5s fadeAnimacija ease;
}

.hero-dugmici input{
    padding: 20px;
    cursor: pointer;
    border-radius: 15px;
    border: solid 2px #ff0000;
    background-color: transparent;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    min-width: 150px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);    
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
    transition: 0.3s;
    background-color: rgba(0, 0, 0, 0.5);
}

.hero-dugmici input:hover{
    transform: scale(1.1);
}

.header{
    background-color: #0f0f0f;
    text-align: center;
    border-bottom: #ff0000 1px solid;
}

.header ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    gap: 45px;
    padding: 15px 0;
}

.header ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    animation: 2s fadeAnimacija;
}

.header ul li{
    transition: 0.5s;
    text-underline-offset: 5px;
}

.header ul li:hover{
    text-decoration: underline;
    text-decoration-color: #fff;
}

.aktivni-link{
    color: #ff0000 !important;
    text-decoration: underline !important;
}

main{
    background-color: #1f1f1f;
    color: #fff;
    padding-top: 80px;
}

.o-kartinzima{
    background-color: #0f0f0f;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    display: flex;
    gap: 40px;
}

.kartinzi-opis{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.kartinzi-opis a{
    text-decoration: none;
}

.o-kartinzima h2{
    font-size: 40px;
    font-weight: 700;
}

.o-kartinzima p{
    font-size: 18px;
    max-width: 90%;
}

.o-kartinzima img{
    max-width: 600px;
    border-radius: 10px;
}

.najuzbudljivije-trke{
    margin-top: 80px;
    padding: 30px 100px;
    background-color: #0f0f0f;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.najuzbudljivije-trke h2{
    font-size: 40px;
}

.najuzbudljivije-trke p{
    font-size: 18px;
}

.najuzbudljivije-slike{
    display: flex;
    justify-content: space-around;
}

.najuzbudljivije-slike img{
    max-width: 250px;
    border-radius: 10px;
}

.zasto-mi{
    padding: 30px 100px;
}

.zasto-mi h2{
    margin-top: 30px;
}

.zasto-mi h2{
    font-size: 30px;
}

.zasto-mi span{
    color: #ff0000;
}

.zasto-grid{
    display: grid;
    grid-template-rows: repeat(2, 200px);
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 30px;
}

.kartica{
    background: #0f0f0f;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    padding: 15px 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.kartica h3{
    font-weight: 600;
    font-size: 24px;
}

.kartica span{
    font-size: 35px;
}

.kartica a{
    text-decoration: none;
}

.dugme-vise{
    width: 200px;
    padding: 15px 0;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
    border: #ff0000 2px solid;
    background-color: #1a1a1a;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

.dugme-vise:hover{
    top: -5px;
}

.kartica button span{
    font-size: 20px;
}

.kartica p{
    font-size: 15px;
}

.kartica1{
    grid-column: 1;
    grid-row: 1;
}

.kartica2{
    grid-column: 2;
    grid-row: 1;
}

.kartica3{
    grid-column: 3;
    grid-row: 1 / span 2;
}

.kartica4{
    grid-column: 1 / span 2;
    grid-row: 2;
}

.footer{
    border-top: 1px solid #ff0000;
    background: linear-gradient(135deg, #0f0f0f, #1a1a1a 50%, #0f0f0f);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
}

.footer-sekcije{
    display: flex;
    justify-content: space-between;
    padding: 30px 60px;
}

.footer-sekcije ul{
    list-style-type: none;
}

.footer-leva-sekcija{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-leva-sekcija p{
    font-weight: 500;
}

.footer-leva-sekcija img{
    width: 250px;
}

.footer-desna-sekcija{
    display: flex;
    justify-content: space-evenly;
    min-width: 65%;
}

.navigacija-liste{
    display: flex;
    gap: 80px;
    font-size: 19px;
}

.footer-copyright{
    text-align: center;
}

.footer-sekcije a{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.footer-lista{
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding-top: 20px;
    font-size: 17px;
}

.ikonice-footer{
    font-size: 20px;
    display: flex;
    gap: 18px;
}

.footer-sekcije li a{
    transition: 0.3s ;
}

.footer-sekcije li a:hover{
    color: red;
}

/* KONTAKT STRANICA */

.kontakt-tekst{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.kontakt-opis{
    text-align: center;
}

.kontakt-opis{
    margin-top: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.kontakt-opis h1{
    font-size: 45px;
}

.kontakt-form-sekcija{
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 100%;
    margin: 80px 0;
}

#forma-kontakt{
    background-color: #0f0f0f;
    padding: 35px;
    border-radius: 15px;
    min-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#forma-kontakt h3, .info-sekcija-biznis h3, .radno-vreme h3{
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #636161;
    font-weight: 600;
}

#forma-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px 30px;
}

#form-grupa{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

#form-grupa label{
    font-size: 14px;
}

#form-grupa input{
    padding: 13px 10px;
    border-radius: 6px;
    border: none;
    font-weight: 500;
    background-color: #1a1a1a;
    color: #8a8a8a;
}

#form-grupa input::placeholder{
    color: #8a8a8a;
    font-weight: 500;
}

#form-grupa input:focus {
    border: 1px solid #e53935;
    box-shadow: 0 0 0 2px rgba(255, 59, 48, 0.4);
    outline: none;
}

#form-grupa input:hover{
    background-color: #1e1e1e;
}

#forma-kontakt button{
    width: 100%;
    margin-top: 30px;
    padding: 13px;
    border-radius: 6px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    background-color: #1a1a1a;
    color: #f5f5f5;
    cursor: pointer;
}

#forma-kontakt button:hover{
    background-color: #1e1e1e;
}

.google-mapa{
   border-radius: 10px; 
   margin-bottom: 80px;
   width: 81%;
}

.kontakt-info{
    border-radius: 15px;
    min-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    
}

.info-sekcija-biznis{
    background-color: #0f0f0f;
    border-radius: 10px;
    padding: 35px;
    height: 50%;
}

.radno-vreme{
    background-color: #0f0f0f;
    border-radius: 10px;
    padding: 35px;
    height: 50%;
}

.info-polja{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info-element{
    display: flex;
    gap: 15px;
}

.info-element span{
    color: #ff0000;
}

.info-element p span{
    color: #fff;
    transition: 0.4s;
    cursor: pointer;
}

.info-element p span:hover{
    color: #ff0000;
}

/* AUTOR STRANICA */

.autor-main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.autor-main h1{
    font-size: 45px;
}

.autor-main h2{
    font-size: 32px;
}

.autor-organizacija{
    margin: 80px 0;
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 0 130px;
}

.autor-organizacija img{
    width: 300px;
    border-radius: 10px;
}

.o-meni{
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

@keyframes fadeAnimacija {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}